.card {
    width: 575px;
    height: 828px;
    perspective: 1000px; /* Dodává efekt trojrozměrného pohledu */
    position: relative;
}

.card-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* Skryje zadní stranu při otočení */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Přizpůsobeno větší velikosti karty */
    color: white;
    border-radius: 20px; /* Přidáme zakulacené rohy */
    overflow: hidden; /* Zajistíme, že obrázky budou oříznuty podle zakulacených rohů */
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Zajistí, že obrázek pokryje celou plochu karty */
    border-radius: 20px; /* Zajistí, že obrázek bude mít zakulacené rohy */
    position: absolute; /* Ujistíme se, že obrázek je ve správné vrstvě */
}

.card-text {
    position: relative; /* Aby byl text nad obrázkem */
    z-index: 1; /* Zajistí, že text bude zobrazen nad obrázkem */
    color: white;
}


.card-front {
    transform: rotateY(180deg); /* Otočíme kartu na opačnou stranu */
}

.card-back {
    background-color: #333;
    color: white;
}

.card.flipped .card-front {
    transform: rotateY(0deg);
}

.card.flipped .card-back {
    transform: rotateY(-180deg); /* Otočíme zadní stranu opačným směrem */
}

.red {
    background-image: url('../img/card-red.png');
    background-size: cover;
    background-position: center;
}

.yellow {
    background-image: url('../img/card-yellow.png');
    background-size: cover;
    background-position: center;
}

.green {
    background-image: url('../img/card-green.png');
    background-size: cover;
    background-position: center;
}

.purple {
    background-image: url('../img/card-purple.png');
    background-size: cover;
    background-position: center;
}

