body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#randomButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 150px; /* Nastavíme šířku karty */
    height: 210px; /* Nastavíme výšku karty */
    perspective: 1000px; /* Dodává efekt trojrozměrného pohledu */
    position: relative;
}

.card-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* Hide the back face when the card flips */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensure content respects rounded corners */
    transition: transform 0.8s ease-in-out; /* Smooth flipping animation */
}

.card-front {
    transform: rotateY(180deg); /* Initial state of the front face when hidden */
}

.card-back {
    background-color: #333;
    color: white;
}

.card.flipped .card-front {
    transform: rotateY(0deg); /* Rotate front face to show when flipped */
}

.card.flipped .card-back {
    transform: rotateY(-180deg); /* Rotate back face to hide when flipped */
}

.red {
    background-image: url('../img/card-red.png');
    background-size: cover; /* Scale the image to cover the entire card */
    background-position: center; /* Center the image on the card */
}

.yellow {
    background-image: url('../img/card-yellow.png');
    background-size: cover;
    background-position: center;
}

.green {
    background-image: url('../img/card-green.png');
    background-size: cover;
    background-position: center;
}

.purple {
    background-image: url('../img/card-purple.png');
    background-size: cover;
    background-position: center;
}